.wrapper {
  --tab-clr: var(--white);
  --duration: 500ms;
  --delay: 0ms;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  background-color: var(--tab-clr);

  transform: translateY(-100%);
  transition: transform calc(var(--duration) + var(--duration)) ease-out
      var(--delay),
    flex-grow var(--duration), opacity var(--duration);
}

.wrapper.init {
  transform: translateY(0);
}

.wrapper.first {
  min-width: 4em;
  margin-right: auto;
}

.wrapper.active {
  flex-grow: 1;
}

/* Shown when "closed" */
.tabLabel {
  height: 100%;
  position: relative;
  padding-block-start: 2em;
  padding-inline: 0.5em;
  transition: opacity var(--duration) ease-out;
}

.tabLabel > :first-child {
  margin-block: 1em;
  text-align: center;
  font-size: 1.15em;
}

.tabLabel > :last-child {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: var(--ff-accent);
  font-size: 1.15em;
  font-weight: 700;
  text-transform: capitalize;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(90deg);
}

.wrapper.first .tabLabel {
  width: 100%;
}

.wrapper:not(.active) .tabLabel:hover {
  cursor: pointer;
}

.wrapper.active .tabLabel {
  pointer-events: none;
  opacity: 0;
}
