/* Mobile Styling */
.mobileNavContainer {
  z-index: 150;
  height: 100%;
  width: 100%;
  position: fixed;
  pointer-events: none;
}

.mobileNavContainer.show {
  pointer-events: all;
  overflow-y: scroll;
}

/* Button to open/close nav menu */
.mobileNavControl {
  pointer-events: all !important;
  z-index: 200;
  display: flex;
  position: fixed;
  top: 2em;
  right: 2em;

  color: var(--black);
  transition: transform 500ms;
}

.mobileNavControl.open {
  transform: translateX(50%);
}

.navControl {
  width: 2em;
  height: 2em;
  opacity: 0;
  transition: opacity 500ms;
}

.navControl.show {
  opacity: 1;
}

/* Container for the tabs + extra info */
.mobileNavContent {
  opacity: 1;
  transition: opacity 500ms;
}

.mobileNavContent.hidden {
  opacity: 0;
  pointer-events: none;
}

.mobileTabs {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 42.5vh);
}

/* Contains button for contact & hours */
.info {
  padding: 1.5em;
  font-family: var(--ff-accent);
  background-color: var(--white);
}

.info > p {
  margin-block: 2em;
  line-height: 1.5;
}

.info > a {
  display: block;
  margin-block: 2em;
  font-size: 0.9em;
  color: var(--black);
}

/* Container for Links */
.linksContainer {
  display: flex;
  gap: 2em;
}

.linksContainer > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.45em 0.5em;
  font-size: 1.75em;
}

/* Desktop Styling */
.desktopNavContainer {
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  transition: flex-grow 500ms;
}

@media (min-width: 768px) {
  .mobileNavContainer {
    visibility: hidden;
    pointer-events: none;
  }
}

@media (max-width: 767px) {
  .desktopNavContainer {
    visibility: hidden;
    pointer-events: none;
  }
}
