.wrapper {
  padding: 2em;
}

/* Main heading styling base */
.headingText {
  --font-size: 2.75em;
  margin-block: 3.5em 1em;
  letter-spacing: -1.25px;
  line-height: 1.05;
  font-weight: 500;
  font-size: var(--font-size);
}

.mockLink:hover {
  cursor: pointer;
}

.hero {
  width: calc(100% + 4em);
  margin-inline-start: -2em;
  opacity: 0;
  transition: opacity 350ms;
}

.hero.visible {
  opacity: 1;
}

/* Market info */
.secondaryHeading {
  --font-size: 4em !important;
  margin-block: 1em 0.75em;
}

.cardsContainer {
  display: grid;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  letter-spacing: 0.5px;
  line-height: 1.3;
  font-size: 0.9em;
  font-weight: 500;
  font-family: var(--ff-accent);
}

.cardImg {
  width: 100%;
  opacity: 0;
  transition: opacity 350ms;
}

.cardImg.visible {
  opacity: 1;
}

/* Events section */
.eventsHeading {
  --font-size: 2em;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  text-align: center;
}

.eventsHeading > :not(:nth-child(2)) {
  font-size: var(--font-size);
}

.eventsHeading > :nth-child(2) {
  font-weight: 500;
  font-size: calc(var(--font-size) * 2);
}

/* Location section */
.locationContainer {
  min-height: 15em;
  display: grid;
}

.locationTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2em;
}

.locationTxt > span {
  max-width: 15ch;
  padding: 0.25em;
}

.locationImg {
  display: none;
}

.locationImg > :first-child {
  height: 100%;
  width: 100%;
  object-position: center;
  object-fit: cover;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 2em;
    padding-inline-end: 3em;
  }

  .headingText {
    --font-size: 5.45em;
    max-width: 25ch;
    margin-block: 1em;
  }

  .hero {
    /* Get image to full width of container */
    width: calc(100% + 11.05em);
    margin-inline-start: -8em;
  }

  .secondaryHeading {
    max-width: 12ch;
    margin-block-end: 0.5em;
  }

  .cardsContainer {
    column-gap: 3.5em;
    grid-template-columns: repeat(3, calc((100% - 8em) / 3));
  }

  .card {
    gap: 2em;
  }

  .eventsHeading {
    --font-size: 3em;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3.5em;
  }

  .locationContainer {
    height: 17.5em;
    column-gap: 2em;
    grid-template-columns: repeat(2, calc((100% - 3em) / 2));
  }

  .locationTxt {
    font-size: clamp(2.75em, 5vw, 4em);
  }

  .locationImg {
    display: block;
    width: 100%;
    padding: 1px;
    overflow: hidden;
  }
}
