.wrapper {
  padding: 2em;
}

/* Header section */
.header {
  position: relative;
  display: grid;
}

.tabLabel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--grey);
  letter-spacing: 1px;
  font-family: var(--ff-accent);
  transform-origin: center;
  transform: translateX(-2em) rotate(90deg);
}

.hours {
  justify-self: end;
  margin-block: 0 8px;
  text-align: end;
  line-height: 1.5;
  font-size: 0.9em;
  font-family: var(--ff-accent);
}

.header h1 {
  align-self: center;
  margin-block: 0 8px;
  font-size: 4.5em;
  font-weight: 400;
}

.header img {
  min-width: 200px;
  width: 100%;
  max-width: 500px;
  justify-self: center;
  align-self: center;
}

.chinese {
  justify-self: end;
  margin-block: 8px;
  text-align: end;
  font-size: 3.5em;
  font-weight: 500;
}

/* List section */
.list {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  gap: 2em;
  margin-block: 5em;
}

.previewImg {
  --top: 50%;
  --left: 50%;

  z-index: -1;
  height: 400px;
  width: 400px;
  position: fixed;
  top: var(--top);
  left: var(--left);
  transform: translate(calc(-1 * var(--left)), calc(-1 * var(--top)));
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  transition: opacity 400ms;
}

.previewImg.show {
  opacity: 1;
}

.list_entry {
  font-weight: 500;
}

.list_entry_primaryText {
  margin-block: 0;
  font-size: 2.25em;
  font-weight: 600;
}

.list_entry_subText {
  margin-block: 0 1em;
  font-family: var(--ff-accent);
  font-size: 1.05em;
}

/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding-block: 5em;
}

.hero_text {
  text-align: center;
}

.hero_primaryText {
  font-size: 5em;
  font-weight: 600;
  margin-block: 8px;
}

.hero.subText {
  font-family: var(--ff-accent);
  font-weight: 500;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 2em;
    padding-inline-end: 3em;
  }

  .header {
    gap: 2em;
    grid-template-columns: repeat(2, calc((100% - 2em) / 2));
  }

  .tabLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }

  .hours,
  .chinese {
    grid-column: span 2;
  }

  .header h1 {
    line-height: 0.9;
    letter-spacing: 1px;
    font-size: clamp(8em, 15vw, 15em);
    font-weight: 500;
  }

  .header img {
    justify-self: end;
  }

  .list {
    gap: 4em 1em;
    grid-template-columns: repeat(3, calc((100% - 2em) / 3));
  }

  .list_entry_primaryText {
    font-size: clamp(1.5em, 2vw, 2.25em);
  }

  .list_entry_subText {
    font-size: clamp(0.9em, 1vw, 1.05em);
  }

  .hero {
    flex-direction: row;
    justify-content: space-between;
    padding-block: 4em;
  }

  .hero_svg {
    scale: 1.5;
  }

  .hero_text {
    max-width: 35%;
  }

  .hero_primaryText {
    font-size: clamp(3em, 7.5vw, 7em);
  }
}

@media (min-width: 868px) {
  .hero {
    justify-content: space-evenly;
  }

  .hero_svg {
    scale: 2;
  }
}
