body[data-locked="true"] .wrapper {
  overflow-y: hidden;
  overscroll-behavior: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.logo {
  z-index: 100;
  position: fixed;
  top: 2em;
  max-width: 3em;
  margin-inline: 0.5em;
}

.logo > img {
  width: 100%;
}

/* Main Content */
.tabContent {
  z-index: 75;
  width: 100%;
  height: 100%;

  margin-top: 7.5em;

  opacity: 0;
  transition: opacity 50ms;
}

.tabContent:not(.mobile) {
  margin-inline-start: var(--content-shift);
  margin-inline-end: var(--right-padding);
}

.tabContent.show {
  transition: opacity 500ms;
  opacity: 1;
}

@media (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }
}
